<header class="site-header">
  <div class="logo-container">
    <img src="/img/logo-offersell.png" alt="Offer&Sell" class="brand-logo">
    <span class="brand-name">Offer&Sell</span>
  </div>
  <nav>
    <a href="/" class="nav-link">Inicio</a>
    <a href="/registro" class="nav-link active">Registro</a>
  </nav>
</header>
